<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Vue-js | Django | Crud App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple crud app made with the vue js and django">

    <meta name="keywords" content="vuejs, django, crudapp, restapi">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> <! — boostrap css →

</head>

<body>
<div id="starting">
    <div class="container">
        <div class="row">
            <h1>List of Articles
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addArticleModal">ADD ARTICLE</button>
            </h1>
            <div class="form-inline my-2 my-lg-0" style="margin-left: 40%;">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" v-model="search_term" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" v-on:click.prevent="getArticles()">Search</button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Heading</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="article in articles">
                        <th scope="row">${article.article_id}</th>
                        <td>${article.article_heading}</td>
                        <td>
                            <button class="btn btn-info" v-on:click="getArticle(article.article_id)">Edit</button>
                            <button class="btn btn-danger" v-on:click="deleteArticle(article.article_id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- Add Article Modal -->
            <div class="modal fade" id="addArticleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">ADD ARTICLE</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form v-on:submit.prevent="addArticle()">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="article_heading">Article Heading</label>
                                    <input type="text" class="form-control" id="article_heading" placeholder="Enter Article Heading" v-model="newArticle.article_heading" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="article_body">Article Body</label>
                                    <textarea class="form-control" id="article_body" placeholder="Enter Article Body" v-model="newArticle.article_body" required="required" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="loading" v-if="loading===true">Loading&#8230;</div>
            </div>
            <!-- End of add article modal -->
            <!-- Edit Article Modal -->
            <div class="modal fade" id="editArticleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">EDIT ARTICLE</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form v-on:submit.prevent="updateArticle()">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="article_heading">Article Heading</label>
                                    <input type="text" class="form-control" id="article_heading" placeholder="Enter Article Heading" v-model="currentArticle.article_heading" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="article_body">Article Body</label>
                                    <textarea class="form-control" id="article_body" placeholder="Enter Article Body" v-model="currentArticle.article_body" required="required" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="loading" v-if="loading===true">Loading&#8230;</div>
            </div>
            <!-- End of edit article modal -->

        </div>
    </div>
    <div class="loading" v-if="loading===true">Loading&#8230;</div>

</div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource"></script>


    <script type="text/javascript">
        Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
        Vue.config.devtools = true;
        new Vue({
          el: '#starting',
          delimiters: ['${','}'],
          data: {
            articles: [],
            loading: true,
            currentArticle: {},
            message: null,
            newArticle: { 'article_heading': null, 'article_body': null },
            search_term: '',
          },
          mounted: function() {
            this.getArticles();
          },
          methods: {
            getArticles: function() {
              let api_url = '/api/article/';
              if(this.search_term!==''||this.search_term!==null) {
                api_url = '/api/article/?search=${this.search_term}'
              }
              this.loading = true;
              this.$http.get(api_url)
                  .then((response) => {
                    this.articles = response.data;
                    this.loading = false;
                  })
                  .catch((err) => {
                    this.loading = false;
                    console.log(err);
                  })
            },
            getArticle: function(id) {
              this.loading = true;
              this.$http.get('/api/article/${id}/')
                  .then((response) => {
                    this.currentArticle = response.data;
                    $("#editArticleModal").modal('show');
                    this.loading = false;
                  })
                  .catch((err) => {
                    this.loading = false;
                    console.log(err);
                  })
            },
            addArticle: function() {
              this.loading = true;
              this.$http.post('/api/article/',this.newArticle)
                  .then((response) => {
                    this.loading = true;
                    this.getArticles();
                  })
                  .catch((err) => {
                    this.loading = true;
                    console.log(err);
                  })
            },
            updateArticle: function() {
              this.loading = true;
              this.$http.put('/api/article/${this.currentArticle.article_id}/', this.currentArticle)
                  .then((response) => {
                    this.loading = false;
                    this.currentArticle = response.data;
                    this.getArticles();
                  })
                  .catch((err) => {
                    this.loading = false;
                    console.log(err);
                  })
            },
            deleteArticle: function(id) {
              this.loading = true;
              this.$http.delete('/api/article/${id}/')
                  .then((response) => {
                    this.loading = false;
                    this.getArticles();
                  })
                  .catch((err) => {
                    this.loading = false;
                    console.log(err);
                  })
            }
          }
        });
      </script>
</body>
</html>